table{
    color: white;
    border: 2px solid white;
    border-radius: 1rem;
}
.tableStructure{
    display: table;
    
    table-layout: auto;
    font-size: 0.9rem;
}
td{
    padding: 0.5rem 0.8rem;
}

th{
    padding: 0 0.7rem;
    color: floralwhite;

}