body {
  margin: 0;
  font-family: monospace;
  -webkit-font-smoothing: monospace;
  -moz-osx-font-smoothing: monospace;
  /* background: linear-gradient(to right,rgb(176, 214, 165),rgb(133, 224, 105)); */
  background-image: url("./assets/Earth.jpg");
  color: aquamarine;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
